/*
 * SPDX-FileCopyrightText: 2022-2023 tytan652 <tytan652@tytanium.xyz>
 *
 * SPDX-License-Identifier: ISC
 */

.archlinux_color:not(:hover) {
    color: #1793D1 !important;
}

.codeberg_color:not(:hover) {
    color: #2185D0 !important;
}

.framasoft_color:not(:hover) {
    color: #725794 !important;
}

.github_color:not(:hover) {
    [theme=light] & {
        color: #181717 !important;
    }
}

.gitlab_color:not(:hover) {
    color: #FCA121 !important;
}

.gnome_color:not(:hover) {
    color: #4A86CF !important;
}

.kofi_color:not(:hover) {
    color: #FF5E5B !important;
}

.liberapay_color:not(:hover) {
    color: #F6C915 !important;
}

.plume_color:not(:hover) {
    color: #7765E3 !important;
}

.rss_color:not(:hover) {
    color: #FFA500 !important;
}
